.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200; /* Should be higher than backdrop */
    background-color: white;
    padding: 32px 16px; /* top-bottom, left-right */
    box-sizing: border-box;
    transition: transform 0.3s ease-out; /* animation */
}

/* For bigger devices */
@media (min-width: 500px) {
    .SideDrawer {
        display: none; /* Not visible */
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%); /* shift left */
}

/* Define Logo outside of the class to override the height for mobile */
.Logo {
    height: 11%;
    margin-bottom: 32px;
}